<div class='footer'>
  <div class='signature'>
    Copyright © Bengoro1 <%= new Date().getFullYear() %>
    <img
      src='/images/github.jpg'
      alt='Logo'
      class='git-logo'
      onclick="window.open('https://github.com/Bengoro1', '_blank')"
    />
  </div>
</div>