<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div class="container">
    <%- include('partials/header', {title: title}) %>
    <div class="form-container">
      <%- include('partials/errors') %>
      <form action="/user/admin-form" method="post">
        <label for="passcode">What is the secret admin passcode?</label>
        <input type="text" name="passcode" id="passcode">
        <button type="submit">Submit</button>
      </form>
      <a href="/">Giving up? Go back to home page</a>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>
</html>