<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div class="container">
    <%- include('partials/header', {title: title}) %>
    <div class="content">
      <a href="/messages/new">New message</a>
      <% if (locals.messages) { %>
        <div id="messages-container">
          <% messages.forEach(message => { %>
            <%- include('partials/message', {message: message, user: user}) %>
          <% }); %>
        </div>
      <% } %>
      <div class="links">
        <% if (user.membership_status != 'member') { %>
          <a href="/user/member-form">Want to be a member? Click here and enter a secret passcode to become one.</a>
        <% } else { %>
          <p>You're a member!</p>
        <% } %>
        <% if (user.admin != 'true') { %>
          <a href="/user/admin-form">Want to be an admin? Click here and enter a secret passcode to become one.</a>
        <% } else { %>
          <p>You're an admin!</p>
        <% } %>
        <a href="/auth/logout">Log out</a>
      </div>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>
</html>