<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header', {title: title}) %>
  <a href="/messages/new">New</a>
  <% if (locals.messages) { %>
    <div id="messages-container">
      <% messages.forEach(message => { %>
        <%- include('partials/message', {message: message, user: user}) %>
      <% }); %>
    </div>
  <% } %>
  <% if (user.membership_status != 'member') { %>
    <a href="/user/member-form">Want to be a member? Click here and enter a secret passcode to become one.</a>
  <% } else { %>
    <p>You're a member!</p>
  <% } %>
  <a href="/auth/logout">Log out</a>
  <%- include('partials/footer') %>
</body>
</html>