<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div class="container">
    <%- include('partials/header', {title: title}) %>
    <div class="form-container">
      <%- include('partials/errors') %>
      <form action="/auth/log-in" method="post">
        <div>          
          <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div>
          <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <button type="submit">Log in</button>
      </form>
      <a href="/auth/sign-up">Don't have an account yet? Sign up here</a>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>
</html>