<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/user/member-form" method="post">
    <label for="passcode">What is the name of Natsu's blue cat?</label>
    <input type="text" name="passcode" id="passcode">
  </form>
</body>
</html>