@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  font-family: 'Inconsolata', monospace;  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html, body {
  height: 100%;
  margin: 0;
}

.header {
  font-size: 26px;
  padding: 8px 50px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #242424;
  z-index: 1000;
}

.header h1 {
  font-size: 40px;
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
  width: 100%;
}

form {
  display: grid;
  gap: 10px;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form input {
  border-radius: 8px;
  padding: 6px;
  border: 1px solid white;
}

a {
  color: rgb(138 138 255);
  width: fit-content;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

button {
  padding: 8px;
  background-color: rgb(138 138 255);
  color: white;
  border-radius: 8px;
  border: 2px solid transparent;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: rgb(138 138 255);
  border-color: rgb(138 138 255);
}

.errors {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.errors > li {
  list-style: square;
  color: red;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer img {
  height: 25px;
  cursor: pointer;
  transition: 1s transform;
}

.footer img:hover {
  transform: rotate(180deg);
}